body {
	color: #0366d6;
	line-height: 1.5;
}

#locale{
	float: right;
}
#locale button {
	font-size: 14px;
	background: none;
	outline: none;
	border: none;
	line-height: 20px;
	padding: 2px 10px;
	border-radius: 6px;
	transition: all 0.4s;
	color: #0366d6;
	box-sizing: border-box;
}

#password,#id,#permissionType {
	transition: all 0.1s;
}

#locale button:hover {
	background-color: rgba(3,102,204,.3);
}
.this_locale_btn {
	background-color: #0366d6 !important;
	color: white !important;
}


.header {
	padding: 32px 0;
	width: 65px;
	position: relative;
	left: 0;
	right: 0;
	margin: 0 auto;
}

.logo_img {
	width: 100%;
}

.title {
	font-size: 24px;
	/*font-weight: 300;*/
	text-align: center;
	/*letter-spacing: -.5px;*/
	margin: 0;
	/*color: #000;*/
	color: #0366d6;
	font-weight: bold;
}

.main {
}

.form {
	margin: 16px auto 0 auto;
	padding: 20px;
	border: 1px solid #eaecef;
	border-radius: 6px;
	background-color:#f6f8fa;
	width: 266px;
}

.login_field {
	margin: 0;
	font-size: 12px;
	font-weight: 400;
	text-align: left;
	color: #444d56;
}

.login_field .tip {
	float: right;
	color: red;
}

input[type=text],
input[type=password],
select{
	border: 1px solid #eaecef;
	width: 240px;
	height: 20px;
	padding: 5px 12px;
	margin: 5px 0 15px 0;
	border-radius: 6px;
}
select {
	height: 34px;
	width: 266px;
}

/* select>option:hover {
	background-color: red !important;
} */

input[type=text]:focus,
input[type=password]:focus,
select:focus{
	box-shadow: 0 0 0 3px rgba(3,102,214,.3);
	border-color:#0366d6;
	outline: none;
}

#login_btn {
	border: 1px solid #2b9148;
	background-color:#2ea44f;
	color: #fff;
	width: 100%;
	text-align: center;
	position: relative;
	display: inline-block;
	padding: 5px 16px;
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
	cursor: pointer;
	border-radius: 6px;
	box-shadow: 0 1px 0 rgba(0,0,0,.1);
	transition: all 0.4s;
	outline: none;
}

#login_btn:hover {
	background-color: #22863a;
}


.lable {
	margin: 16px auto 0 auto;
	padding: 15px 20px;
	border: 1px solid #d1d5da;
	border-radius: 6px;
	width: 266px;
	font-size: 12px;
	text-align: center;
}

.link {
	margin: 0 auto;
	width: 306px;
	font-size: 14px;
	position: relative;
	bottom: 0;
	padding: 40px 0;
}

.link a {
	text-decoration: none;
	color: #0366d6;
	margin-left: 15px;
}
.link a:hover {
	text-decoration: underline;
}





/* 更改select样式 */
select {
	appearance:none;
	-moz-appearance:none;
	-webkit-appearance:none;
	
	background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/PjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+PHN2ZyB0PSIxNjI2MjcyNTk2Mzc4IiBjbGFzcz0iaWNvbiIgdmlld0JveD0iMCAwIDEwMjQgMTAyNCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHAtaWQ9IjM0MDciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMjAwIiBoZWlnaHQ9IjIwMCI+PGRlZnM+PHN0eWxlIHR5cGU9InRleHQvY3NzIj48L3N0eWxlPjwvZGVmcz48cGF0aCBkPSJNODU4LjQ1MzMzMyAyNjkuOTYwNTMzbDcyLjYxODY2NyA3Mi42MTg2NjdMNTkxLjYzMzA2NyA2ODEuOTg0bDAuMTcwNjY2IDAuMTcwNjY3LTcxLjkwMTg2NiA3MS45MDE4NjYtMC4xNzA2NjctMC4xNzA2NjYtMC4xNTM2IDAuMTcwNjY2LTcyLjYxODY2Ny03Mi42MTg2NjYgMC4xNTM2LTAuMTUzNkwxMTIuNDY5MzMzIDM0Ni42NzUybDcxLjkxODkzNC03MS45MDE4NjcgMzM0LjYwOTA2NiAzMzQuNjI2MTM0eiIgcC1pZD0iMzQwOCI+PC9wYXRoPjwvc3ZnPg==") no-repeat scroll  #fff;
	background-size: 13px;
	background-position: 245px;
	
	/*为下拉小箭头留出一点位置，避免被文字覆盖*/
	/* padding-right: 14px; */
}
 
 
/*清除ie的默认选择框样式清除，隐藏下拉箭头*/
select::-ms-expand { display: none; }